.page{
	display: flex;
	align-items: center;
	flex-direction: column;
	gap: 160px;
}


/* ПРО НАС */
.aboutSection {
	padding: 170px 24px 40px;
	text-align: center;
	display: flex;
	flex-direction: column;
	gap: 70px;
	align-items: center;
}

.aboutTextPart {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 24px;
}

.aboutSection p {
	max-width: 800px;
}

.heroImageSection {
	width: 1014px;
	height: 565px;
	border-radius: 4px 4px 24px 24px;
	overflow: hidden;
	position: relative;
	z-index: 1;
}

.heroImageSection img {
	width: 100%;
	z-index: 2;
}

.heroImageSection::after{
	content: "";
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	width: 100%;
	height: 50%;
	background: linear-gradient(transparent, rgba(141, 176, 195, 1));
	z-index: 3;
}

/* МІСІЯ */
.missionSection {
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 60px;
	padding: 0 80px 120px;
}

.missionText {
	display: flex;
 	width: 670px;
	flex-direction: column;
	align-items: start;
	gap: 45px;
}

.sectionSubTitle {
	text-align: start;
}

.missionImage{
	position: relative;
	width: 670px;
	height: 437px;
	border-radius: 10px;
}

/* Если вы меня спросите, я люблю этоn псевдокласс ::after! */
/* :D */
.missionImage::after{
	content: "";
	width: 100%;
	height: 60%;
	bottom: 0;
	left: 0;
	background: linear-gradient(transparent, var("--grad-color", #fff));
	z-index: 3;
}

.missionImage img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}