.footer{
    width: 100%;
    height: 210px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    padding-bottom: 30px;
    background-color: #CDD5DD;
}

.footerEnd{
	padding-top: 24px;
	border-top: 1px solid #F4F4F4;
	color: #9EA0AA;
	font-size: 16px;
	width: 80%;
	text-align: center;
}

.footerImg{
    height: 50px;
    object-fit: cover;
}