.page{
	width: 100%;
	display: flex;
	align-items: center;
	flex-direction: column;
	gap: 100px;
}

.land{
	width: 100%;
	padding-top: 250px;
	background-color: #CDD5DD;
	/* clip-path: ellipse(61.5% 417.5px at 50% 115%); */
	display: flex;
	align-items: center;
	flex-direction: column;
	height: 851px;
	position: relative;
}

/* After on divs? I learned this 5 mins ago, no AI copy paste */
.land::after{
	content: "";
	inset: 0;
	position: absolute;
	background: #fff;
	clip-path: ellipse(61.5% 417.5px at 50% 115%);
	z-index: 0;
}

.land h1{
	text-align: center;
	font-size: 61px;
	letter-spacing: 3%;
	color: white;
	z-index: 1;
	font-family: "GTWP Ultrabold", sans-serif;
}

.land .absLandBlock{
	position: absolute;
	bottom: 0;
	right: 10%;
	display: flex;
	flex-direction: column;
	align-items: start;
	height: 120px;
	width: 320px;
	justify-content: space-between;
	z-index: 1;
}

.absLandBlock p{
	width: 100%;
	color: #0C122A;
	font-size: 16px;
}

.absLandBlock button{
	padding: 18px 40px;
	background-color: #0C122A;
	border-radius: 100px;
	letter-spacing: 1px;
	font-size: 14px;
	color: white;
	line-height: 100%;
	font-family: "GTWP Bold", sans-serif;
}

.land img{
	transform: rotate(11.29deg);
	position: absolute;
	width: 811px;
	height: 811px;
	top: 218px;
	margin: auto;
	z-index: 2;
}

/* ABOUT PART (YEEEE) */

.about{
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 24px;
}

.about h2{
	color: #CDD5DD;
	font-family: "GTWP Ultrabold", sans-serif;
	font-size: 44px;
}

.about .aboutMainText{
	color: #0C122A;
	font-size: 16px;
	text-align: center;
}

.about button{
	padding: 18px 40px;
	border: 1.5px solid #0C122A;
	display: flex;
	flex-direction: row;
	gap: 16px;
	background-color: transparent;
	border-radius: 100px;
	align-items: center;

	height: fit-content;
	width: fit-content;

}

.about button p{
	color: #0C122A;
	font-family: "GTWP Bold", sans-serif;
	font-size: 16px;
}

.about button svg{
	width: 24px;
	height: 24px;
}

/* NEW PART (ohno) */

.new{
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 100px;
}

.new h2{
	color: #CDD5DD;
	font-family: "GTWP Ultrabold", sans-serif;
	font-size: 44px;
}

/* CATALOGUE */

.catalog{
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 44px;
}

.catalog h2{
	color: #CDD5DD;
	font-family: "GTWP Ultrabold", sans-serif;
	font-size: 44px;
}


.catalog button{
	padding: 18px 40px;
	border: 1px solid white;
	display: flex;
	flex-direction: row;
	gap: 16px;
	background-color: #0C122A;
	border-radius: 100px;
	align-items: center;

	height: fit-content;
	width: fit-content;
}

.catalog button p {
	font-size: 14px;
	font-family: "GTWP Bold";
	color: white;
}

.catalog button svg {
	height: 24px;
	width: 24x;
	filter: invert(100%);
}

main{
	padding-bottom: 100px;
}