.page{
	width: 100%;
	display: flex;
	align-items: center;
	flex-direction: column;
	gap: 100px;
}

.absLandBlock p{
	text-align: left;
}

p{
	text-align: center;
}

.land{
	width: 100%;
	padding-top: 250px;
	background-color: #CDD5DD;
	height: 851px;
	position: relative;
}

/* After on divs? I learned this 5 mins ago, no AI copy paste */
.land::after{
	content: "";
	inset: 0;
	position: absolute;
	background: #fff;
	clip-path: ellipse(61.5% 417.5px at 50% 115%);
	z-index: 0;
}

.land h1{
	text-align: center;
	font-size: 61px;
	letter-spacing: 3%;
	color: white;
	z-index: 1;
	font-family: "GTWP Ultrabold", sans-serif;
}

.land .absLandBlock{
	position: absolute;
	bottom: 0;
	right: 10%;
	display: flex;
	flex-direction: column;
	align-items: start;
	height: 120px;
	width: 320px;
	justify-content: space-between;
	z-index: 1;
}

.absLandBlock p{
	width: 100%;
	color: #0C122A;
	font-size: 16px;
}

.land img{
	transform: rotate(11.29deg);
	position: absolute;
	width: 811px;
	height: 811px;
	top: 218px;
	margin: auto;
	z-index: 2;
}

/* ABOUT PART (YEEEE) */

section{
	display: flex;
	flex-direction: column;
	align-items: center;
}

.about{
	gap: 24px;
}
.new{
	gap: 100px;
}
.catalog{
	gap: 44px;
}

main{
	padding-bottom: 100px;
}