.page{
    flex: 1;
    display: flex;
    flex-direction: column;
    padding-top: 170px;
    align-items: center;
    gap: 70px;
}

.contactsPageMain{
    display: flex;
    flex-direction: row;
    gap: 50px;
}