.page{
    width: 100%;
    height: 100%;
    padding-top: 200px;
    display: flex;
    flex-direction: row;
    gap: 300px;
    padding-left: 200px;
}

.cabinetPageLeft{
    display: flex;
    flex-direction: column;
    gap: 44px;
    width: 321px;
}

.cabinetTitle{
    color: rgba(12, 18, 42, 1);
    font-size: 30px;
}

.linkLeft{
    font-size: 14px;
    color: rgba(158, 160, 170, 1);
    text-decoration: none;
    border: 0;
    background-color: transparent;
    width: fit-content;
}

.linkSelected{
    color: rgba(12, 18, 42, 1);
}

.cabForm{
    width: 668px;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.cabFormHeader{
    color: rgba(12, 18, 42, 1);
    font-size: 24px;
}

.cabFormBlock{
    display: flex;
    width: 100%;
    flex-direction: column;
    gap: 16px;
}

.cabFormButton{
    padding: 12px 16px;
    color: black;
    border-radius: 100px;
    border: 1.5px solid black;
    height: 41px;
    background-color: transparent;
    width: fit-content;
}

.cabFormButton:disabled{
    background-color: white;
    color: rgba(158, 160, 170, 1);
    border-color: rgba(158, 160, 170, 1);
}
