.card{
	position: relative;
	border-radius: 10px;
	width: 437px;
	height: 437px;
	display: flex;
	flex-direction: column;
	gap: 50px;
	padding: 250px 24px 0px;
}

.card::after{
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	background: linear-gradient(#fffaaa00, var(--gcolor, #fff));
	width: 100%;
	height: 100%;
	z-index: 1;
	border-radius: inherit;
}

.cardDroneImg{
	width: 265px;
	height: 265px;
	position: absolute;
	margin: auto;
	right: 0;
	left: 0;
	top: -27%;
	z-index: 3;
}

.cardBGLimiter{
	top: 0;
	left: 0;
	overflow: hidden;
	width: 437px;
	height: 437px;
	border-radius: 10px;
	position: absolute;
	z-index: 0;
}

.cardBGimg{
	position: absolute;
	top: 0;
	margin: auto;
	height: 100%;
	object-fit: cover;
}

.titleCard{
	z-index: 3;
	display: flex;
	flex-direction: column;
	gap: 8px;
	align-items: start;
}

.titleCard h3{
	font-family: "GTWP Medium", sans-serif;
	font-size: 44px;
	color: white;
}

.titleCard p{
	font-size: 16px;
	color: white;
}

.dataCard{
	display: flex;
	width: 100%;
	flex-direction: row;
	justify-content: space-between;
	z-index: 3;
	align-items: center;
}

.dataCard span{
	font-family: "GTWP Medium", sans-serif;
	font-size: 14px;
	color: white;
}

.dataCard button {
	padding: 12px 16px;
	border: 1px solid white;
	display: flex;
	flex-direction: row;
	gap: 14px;
	background-color: transparent;
	border-radius: 100px;
	align-items: center;

	height: fit-content;
	width: fit-content;
}

.dataCard button p {
	font-size: 14px;
	font-family: "GTWP Medium";
	color: white;
}

.dataCard button svg {
	height: 16px;
	width: 16px;
	filter: invert(100%);
}
