.productMainBlock{
    display: flex;
    gap: 44px;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}

.productAligningrow{
    flex-direction: row;
}

.productAligningrowReversed{
    flex-direction: row-reverse;
}

.productAligningcolumn{
    flex-direction: column;
    width: 1015px;
}

/* Actual content */

.auxiliaryMainBlockContent{
    display: flex;
    flex-direction: column;
    gap: 44px;
    align-items: center;
    width: 100%;
}

.productBlockTextInfo{
    width: 720px;
    display: flex;
    flex-direction: column;
    gap: 24px;
    align-items: start;
}

.productAligningcolumn .productBlockTextInfo{
    align-items: center;
}

.productBlockTitle{
    font-size: 44px;
    color: rgba(12, 18, 42, 1);
    width: 100%;
    text-wrap: wrap;
    text-align: start;
}

.productAligningcolumn .productBlockTitle{
    text-align: center;
}

.productBlockDescription{
    font-size: 16px;
    color: rgba(61, 65, 85, 1);
    width: 100%;
    text-wrap: wrap;
    text-align: start;
}

.productAligningcolumn .productBlockDescription{
    text-align: center;
}

.productMainMedia{
    width: 668px;
    height: 451px;
    border-radius: 10px;
    object-fit: cover;
}

.productAligningcolumn .productMainMedia{
    width: 100%;
    height: 571px;
    /* object-fit: contain; */
}

.productDetailDataList{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}