.page{
    margin-top: 120px;
    display: flex;
    flex-direction: column;
    gap: 44px;
    width: 90vw;

}

.page h1{
    width: 100%;
    text-align: center;
    font-size: 44px;
    font-family: "GTWP Ultrabold", sans-serif;
    color: #CDD5DD;
}