.buttonGeneric{
    display: flex;
    flex-direction: row;
    font-size: 14px;
    text-transform: uppercase;
    color: white;
    border-radius: 100px;
    width: fit-content;
    height: fit-content;
    box-sizing: border-box;
    user-select: none;
    align-items: center;
}

.buttonGeneric:hover{
    cursor: pointer;
}

.primaryButtonVariant{
    padding: 18px 40px;
    gap: 16px;
    font-family: "GTWP Bold", sans-serif;
    font-weight: 700;
}

.secondaryButtonVariant{
    padding: 12px 16px;
    gap: 14px;
    font-family: "GTWP Medium", sans-serif;
    font-weight: 500;
}

.trueBgVar{
    background-color: rgba(12, 18, 42, 1);
}

.falseBgVar{
    border: 1.5px solid rgba(12, 18, 42, 1);
    color: rgba(12, 18, 42, 1);
    background-color: transparent;
}

.buttonArrowIcon{
    filter: invert(100%);
}

.primaryButtonVariant .buttonArrowIcon{
    width: 24px;
    height: 24px;
}

.secondaryButtonVariant .buttonArrowIcon{
    width: 16px;
    height: 16px;
}

.falseBgVar .buttonArrowIcon{
    filter: invert(0%);
}