

.catalogItem{
	display: flex;
	flex-direction: column;
	padding: 14px;
	position: relative;
	justify-content: end;
	align-items: center;
	height: 363px;
	width: 332px;
	border-radius: 10px;
}

.catalogItem img{
	position: absolute;
	top: 0;
	margin: auto;
	height: 261px;
	width: 261px;
	object-fit: contain;
	overflow: cover;
}

.catalogItemBottom{
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.catalogItemDesc{
	width: 240px;
	gap: 16px;
	display: flex;
	flex-direction: column;
	align-items: start;
}

.catalogItem h6{
	font-family: "GTWP Medium", sans-serif;
	font-size: 24px;
}

.catalogItem .catalogItemPrice{
	display: flex;
	flex-direction: row;
	gap: 15px;
	color: #0C122A;
	font-family: "GTWP Medium", sans-serif;
}

.oldPrice{
	text-decoration: line-through;
}

.newPrice{
	color: #B62D11;
}

.catalogItem:hover .catalogItemCatalog{
	display: flex;
}

.catalogItem:hover{
	background-color: rgba(244, 244, 244, 1);
}

.catalogItemCatalog{
	display: none;
	width: fit-content;
	height: fit-content;
	padding: 14px;
	border: 1.5px solid #0C122A;
	border-radius: 100px;
}

.catalogItemCatalog:hover{
	cursor: pointer;
}

.catalogItemCatalog svg{
	color: #0C122A;
	width: 12px;
	height: 14px;
	padding: 0;
	margin: 0;
}