.page{
	width: 100%;
	display: flex;
	align-items: center;
	flex-direction: column;
	gap: 100px;
}

.mainContainer{
    width: 100%;
    height: 100%;
	display: flex;
	align-items: center;
	flex-direction: column;
	gap: 100px;
}

.landing{
	width: 100%;
	padding-top: 250px;
	background-color: #CDD5DD;
	display: flex;
	align-items: center;
	flex-direction: column;
	position: relative;
	height: 851px;
}

.landing::after{
	content: "";
	inset: 0;
	position: absolute;
	background: #fff;
	clip-path: ellipse(61.5% 417.5px at 50% 115%);
	z-index: 0;
}

.landingTexts{
    width: 720px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
}

.landingTitle{
    font-size: 700;
    max-width: 100%;
    font-family: "GTWP Bold", sans-serif;
    color: rgba(255, 255, 255, 1);
    font-size: 60px;
}

.landingDescription{
    font-size: 16px;
    color: rgba(61, 65, 85, 1);
    max-width: 100%;
}

.landMainImg{
    position: absolute;
    width: 512px;
    height: 512px;
    object-fit: cover;
    bottom: 0px;
    margin: auto;
    z-index: 1;
}

/* abspart */

.absLandBlock{
    display: flex;
    width: fit-content;
    height: fit-content;
    position: fixed;
    right: 40px;
    bottom: 100px;
    padding: 16px 14px;
    gap: 24px;
    flex-direction: column;
    border-radius: 10px;
    filter: drop-shadow(0px 10px 3px rgba(0, 0, 0, 0.1));
    z-index: 2;
    background-color: rgba(255, 255, 255, 1);

}

.absLandPart{
    width: 100%;
    gap: 16px;
    height: fit-content;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.landSmallImg{
    width: 50px;
    height: 50px;
    object-fit: cover;
}

.descAbsPart{
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 100%;
}

.titleAbsPart{
    font-family: "GTWP Medium", sans-serif;
    font-size: 14px;
    color: rgba(12, 18, 42, 1);
    margin: 0;
    padding: 0;
}

.priceAbsPart{
    margin: 0;
    padding: 0;
    display: flex;
    width: 100%;
    justify-content: space-between;
    font-family: "GTWP Medium", sans-serif;
    font-size: 14px;
    color: rgba(12, 18, 42, 1);
}

.oldPriceOverlineAbs{
    text-decoration: line-through;
}

.newPriceAbsPart{
    color: red;
}

/* Same Products */

.sameProductsBlock{
    width: 1400px;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 44px;
}