.productCharBlock{
    display: flex;
    flex-direction: column;
    gap: 24px;
    align-items: center;
}

.productCharTop{
    display: flex;
    align-items: end;
    gap: 10px;
    flex-direction: row;
}

.productCharTextBold{
    font-family: "GTWP Bold", sans-serif;
    font-size: 44px;
    color: rgba(109, 113, 127, 1);
}

.productCharTextRegular{
    font-family: "GTWP Bold", sans-serif;
    font-size: 16px;
    color: rgba(109, 113, 127, 1);
    padding-bottom: 8px;
}

.productCharName{
    color: rgba(12, 18, 42, 1);
    font-size: 16px;
}