.header {
	position: fixed;
	left: 5vw;
	top: 43px;
	width: 90vw;
	height: fit-content;
	background: #ffffff88;
	border-bottom: 1px solid #E4E4E7;
	border-radius: 62px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px 40px;
	box-sizing: border-box;
	z-index: 10;
	backdrop-filter: blur(64px);
}

.nav {
	display: flex;
	justify-content: space-between;
	width: 261px;
	overflow: visible;
}

.nav a {
	text-decoration: none;
	color: #0C122A;
	font-weight: 500;
	font-size: 14px;
	letter-spacing: 9%;
	opacity: 40%;
}

.nav a:hover {
  	cursor: pointer;
}


.logoBlock {
  	cursor: pointer;
}

.logoBlock img {
  	height: 100%;
}


.profileBlock {
	height: 44px;
	width: 261px; 	
	display: flex;
	align-items: center;
	justify-content: flex-end;
	cursor: pointer;
	gap: 24px;
}

.profileIcon {
	width: 30px;
	height: 30px;
}
