.inputLabelBlock{
    display: flex;
    flex-direction: column;
    gap: 8px;
    box-sizing: border-box;
}

.inputLabelBlock label{
    color: rgba(12, 18, 42, 1);
    font-size: 14px;
    height: 16px;
}

.textareaGenericStyles{
    width: 100%;
    height: 100px;
    min-height: 60px;
    font-size: 16px;
    border: 1px solid rgba(206, 208, 212, 1);
    border-radius: 4px;
    background-color: white;
    padding: 16px;
    box-sizing: border-box;
    resize: vertical;
}

.textareaGenericStyles::-webkit-scrollbar{
    display: none;
}

.textareaGenericStyles::placeholder{
    color: rgba(158, 160, 170, 1);
}

.errorTextareaGen{
    border-color: rgba(182, 45, 17, 1);
}

.errorTextareaText{
    font-size: 14px;
    color: rgba(182, 45, 17, 1);
}