*{
    margin: 0;
    box-sizing: border-box;
    font-family: "GTWP Regular", sans-serif;
}


#root{
    overflow: hidden;
}

.ordLayout{
    position: relative;
    overflow: hidden;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-content: center;
    min-height: 100vh;
    max-height: fit-content;
    background-color: #DDD;
    justify-content: space-between;
}

body::-webkit-scrollbar{
    display: none;
}