.footer{
	position: relative;
	width: 100%;
	height: 850px;
	display: flex;
	align-items: center;
	flex-direction: column;
	z-index: 1;
	background-color: #CDD5DD;
	justify-content: space-around;
}

.footer::after{
	content: "";
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background: #fff;
	clip-path: ellipse(65% 417.5px at 50% -100px);
	z-index: 2;
}

.statisticBlock{
	display: flex;
	flex-direction: row;
	height: fit-content;
	gap: 180px;
	align-items: center;
	z-index: 4;
}

.statsData{
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 48px;
}

.statsData h4{
	font-size: 44px;
	font-family: "GTWP Bold", sans-serif;
	color: #0C122A;
}

.statsData p{
	color: #0C122A;
	font-size: 16px;
}

.footerLinkBlock{
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 27px;
}

.footerLinkBlock a{
	text-decoration: none;
	color: #0C122A;
	font-family: "GTWP Medium", sans-serif;
	font-size: 16px;
	width: 90px;
}

.footerEnd{
	padding-top: 24px;
	border-top: 1px solid #F4F4F4;
	color: #9EA0AA;
	font-size: 16px;
	width: 80%;
	text-align: center;
}