.modalBackBlur{
    display: flex;
    position: fixed;
    background-color: rgba(12, 18, 42, 0.7);
    backdrop-filter: blur(10px);
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    align-items: center;
    justify-content: center;
    z-index: 100;
}

.modalGenericStyles{
    display: flex;
    width: 447px;
    height: fit-content;
    flex-direction: column;
    position: relative;
    padding: 16px 24px;
    gap: 44px;
    background-color: white;
    border-radius: 10px;
    border: 0px;
    align-items: start;
}

.modalCloseButton{
    width: 32px;
    height: 32px;
    position: absolute;
    right: 12px;
    top: 8px;
}

.modalCloseButton:hover{
    cursor: pointer;
    filter: brightness(110%);
}