.page{
    padding-top: 280px;
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: center;
    width: 100%;
    padding-bottom: 120px;
    background-color: #DDD;
}

.error{
    display: flex;
    flex-direction: row;
    gap: 40px;
    align-items: center;
}

.error h1{
    font-size: 150px;
}

.error p {
    font-size: 36px;
    max-width: 600px;
}

button{
	padding: 16px 30px;
	/* border: 2px solid #0C122A; */
	display: flex;
	flex-direction: row;
	background-color: #0C122A;
	border-radius: 100px;
	align-items: center;

	height: fit-content;
	width: fit-content;

    cursor: pointer;
}

button p{
    font-size: 20px;
    color: white;
}